In [14]:
#print statement

print("machine learning course")
print("machine learning course","GEOG-790","Spring 2022")
print("machine learning course",";","GEOG-790",";","Spring 2022")

print(3*8)
print("The result is: "+ str(3*3)) # + does not appear the space between items

print("machine learning" + " course points: " + str(90)) #concatenate string with strings


print("This is GIS %d Spring %d" %(790, 2022))
print("This is GIS {} Spring {}".format(790,2022))
print("This is GIS " + str(790) + " Spring " + str(2022))

machine learning course
machine learning course GEOG-790 Spring 2022
machine learning course ; GEOG-790 ; Spring 2022
24
The result is: 9
machine learning course points: 90
This is GIS 790 Spring 2022
This is GIS 790 Spring 2022
This is GIS 790 Spring 2022

In [15]:
#data type
type("3")
type(3)

int

In [17]:
#numbers: int float, change numeric types:int(str) or str(int) or float(int)
3.89
int(3.89)
str(3.89)
float(6)

6.0

In [39]:
#string. length, and indexing, slicing a[2:5], strip blank space a.strip(); replace: a.replace("J","H"); a.split(",")
a="ML course"
len("ML course") #count space also
print(len(a))
print(a[1])

b = "ML_course is very bad"
print(b[-2])
print(b[3:9])
b.strip()
b.replace("bad","good")


c=b.split("_")
print(c)


d="E:\HKT\Projects\2021\vegphe\Papers\Literatures"
e=d.split("\")

SyntaxError: EOL while scanning string literal (Temp/ipykernel_21480/2668331236.py, line 19)

In [47]:
#variable. assign values (str, int, float), length and indexing, assign variables, z = x + y
#gloable and local variables; compare two variables same or not, false or true
#lower and upper case of string: a.uppper or a.lower
a=3
b=7
a*b
a,b,c=3,7,9

a = 10 #global variable #function -> local varible
print(a,b,c)

a<b
a==b

x="course"
x.upper()

10 7 9

'COURSE'

In [60]:
#python operations
x, y = 3, 2
z = y%x #remain
x**y #
y//x
#print(z)
x = x + 7
x+=7
x-=7
print(x)

x==y
x!=y

10

True

In [75]:
#list l.insert(1,"e") l.sort(); l1=l.copy(); l = l1+l2;
m = [4, 8, 9, 20, 1]

len(m)
print(m[2])
print(m[-3:-1])
print(max(m),min(m),sum(m))
m.insert(3,7)
m.append(200) #using a lot
m.remove(200)
m.pop(1) #   del m[1]
print(m)

n = ["name1", "name2", "name3"]
n.remove("name1")
n.insert(0,"name4")
print(n)
#sum(n)


new_list=m+n
print(new_list)

9
[9, 20]
20 1 42
[4, 9, 7, 20, 1]
['name4', 'name2', 'name3']
[4, 9, 7, 20, 1, 'name4', 'name2', 'name3']

In [77]:
a = []
for i in range(100):
    i*=i               #i=i*i
    a.append(i)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [95]:
#dictionaries | different models have different perfomances good case
#={key1:3, key2:5, key3:"geo"}
car = {"brand": ["ford","Honda"],
      "model":["Mustang"],
       "year":[1964,1990]}
print(car)
print(car.keys())
print(car.get("brand"))
#replace value
car["year"]="not available"
print(car["year"])

#GIS RS JSON based on dictionaries

#dictinary has key and values

a ={}
for i in range(100):
    i=i+10
    a["key"+str(i-10)]=i,i+5
print(a)

{'brand': ['ford', 'Honda'], 'model': ['Mustang'], 'year': [1964, 1990]}
dict_keys(['brand', 'model', 'year'])
['ford', 'Honda']
not available
{'key0': (10, 15), 'key1': (11, 16), 'key2': (12, 17), 'key3': (13, 18), 'key4': (14, 19), 'key5': (15, 20), 'key6': (16, 21), 'key7': (17, 22), 'key8': (18, 23), 'key9': (19, 24), 'key10': (20, 25), 'key11': (21, 26), 'key12': (22, 27), 'key13': (23, 28), 'key14': (24, 29), 'key15': (25, 30), 'key16': (26, 31), 'key17': (27, 32), 'key18': (28, 33), 'key19': (29, 34), 'key20': (30, 35), 'key21': (31, 36), 'key22': (32, 37), 'key23': (33, 38), 'key24': (34, 39), 'key25': (35, 40), 'key26': (36, 41), 'key27': (37, 42), 'key28': (38, 43), 'key29': (39, 44), 'key30': (40, 45), 'key31': (41, 46), 'key32': (42, 47), 'key33': (43, 48), 'key34': (44, 49), 'key35': (45, 50), 'key36': (46, 51), 'key37': (47, 52), 'key38': (48, 53), 'key39': (49, 54), 'key40': (50, 55), 'key41': (51, 56), 'key42': (52, 57), 'key43': (53, 58), 'key44': (54, 59), 'key45': (55, 60), 'key46': (56, 61), 'key47': (57, 62), 'key48': (58, 63), 'key49': (59, 64), 'key50': (60, 65), 'key51': (61, 66), 'key52': (62, 67), 'key53': (63, 68), 'key54': (64, 69), 'key55': (65, 70), 'key56': (66, 71), 'key57': (67, 72), 'key58': (68, 73), 'key59': (69, 74), 'key60': (70, 75), 'key61': (71, 76), 'key62': (72, 77), 'key63': (73, 78), 'key64': (74, 79), 'key65': (75, 80), 'key66': (76, 81), 'key67': (77, 82), 'key68': (78, 83), 'key69': (79, 84), 'key70': (80, 85), 'key71': (81, 86), 'key72': (82, 87), 'key73': (83, 88), 'key74': (84, 89), 'key75': (85, 90), 'key76': (86, 91), 'key77': (87, 92), 'key78': (88, 93), 'key79': (89, 94), 'key80': (90, 95), 'key81': (91, 96), 'key82': (92, 97), 'key83': (93, 98), 'key84': (94, 99), 'key85': (95, 100), 'key86': (96, 101), 'key87': (97, 102), 'key88': (98, 103), 'key89': (99, 104), 'key90': (100, 105), 'key91': (101, 106), 'key92': (102, 107), 'key93': (103, 108), 'key94': (104, 109), 'key95': (105, 110), 'key96': (106, 111), 'key97': (107, 112), 'key98': (108, 113), 'key99': (109, 114)}

In [99]:
#if statement
a=20
b=20
a>b
if a<b:
    print("a is smaller than b")
elif a>b:
    print("a is greater than b")
#elif add more
else:
    print("a is equal to b")

a is equal to b

In [109]:
#for loop

a = "machine_learning_course"
for i in a.split("_"):
    print(i)

    
for i in range(len(a.split("_"))):
    print(i)
    
a=[3, 7, 9, "geo", "name", 90.4]
for element in a:
    print(element)
    
    
for element in a:
    print(element)
    if element==9:
        break

machine
learning
course
0
1
2
3
7
9
geo
name
90.4
3
7
9

In [119]:
a=[3, 7, 9, 13, 90.4]
i=0
while i<5:
    print(a[i])
    i=i+1

3
7
9
13
90.4